# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Udemy\Machine Learning e Data Science in Python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
